/* Garlic CSS Framework
 * Version 1.21
 * Author: Ethan Z. Seligman
 *

/* Breakpoints */
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

/* Color Variables */
$color: #f58ed6; // Main color
$lightColor: #ffbded;
$darkBg: #22222c;
$lightBg: #e3e3e3;
$darkBlue: #111116;
$lightBlue: #343746;
$lightGray: #e3e3e3;
$medGray: #a7a7a7;
$medBlue: #4a4e61;

/* Formatting Variables */
//global padding
$padding: 30px;
//text
$headerSize: 3.4em;
$subheaderSize: 2.6em;
$paragraphSize: 1.1em;
//nav
$navHeight: 80px;
$navBg: $darkBlue;

/* Fonts */
$fontsHeader: "Teko", sans-serif;
$fontsPara: "Rubik", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

/* Global */
* {
  font-family: $fontsHeader;
  margin: 0;
  padding: 0;
}

body {
  background: $darkBg;
}

::-moz-selection {
  background: $lightColor;
  color: #fff;
}
::selection {
  background: $lightColor;
  color: #fff;
}

/* Containers */
div.container {
  padding: $padding/2 $padding;
  box-sizing: border-box;
}

div.container-fluid {
  padding: 0;
}

@media only screen and (max-width: $md) {
  $padding: 20px;
  div.container {
    padding: $padding/2 $padding;
  }
}
@media only screen and (max-width: $sm) {
  $padding: 15px;
  div.container {
    padding: $padding/2 $padding;
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: $darkBg;
}

::-webkit-scrollbar-thumb {
  background: #4a4e61;
}

::-webkit-scrollbar-thumb:hover {
  background: $color;
}

/* Text */
h1.header {
  color: $color;
  font-weight: 500;
  font-size: $headerSize;
  line-height: 50px;
}

h1.subheader {
  color: $lightGray;
  font-weight: 500;
  font-size: $subheaderSize;
  letter-spacing: 1px;
  line-height: 50px;
}

p.paragraph {
  font-family: $fontsPara;
  font-size: $paragraphSize;
  line-height: 23px;
  color: $medGray;
  font-weight: 300;
}

p.paragraph.semibold {
  font-weight: 400;
}

p.paragraph.bold {
  font-weight: 500;
}

/* Grid */

div.row {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  flex-direction: row;
  flex: none;
  padding: 0 $padding/2;
  align-items: stretch;
}
div.col {
  padding: $padding/2;
  float: left;
  box-sizing: border-box;
}
div.col-container {
  width: 100%;
  height: 100%;
  background: $lightBlue;
  box-sizing: border-box;
  padding: $padding;
}
div.col.one {
  width: calc(1 / 12 * 100%);
}
div.col.two {
  width: calc(2 / 12 * 100%);
}
div.col.three {
  width: calc(3 / 12 * 100%);
}
div.col.four {
  width: calc(4 / 12 * 100%);
}
div.col.five {
  width: calc(5 / 12 * 100%);
}
div.col.six {
  width: calc(6 / 12 * 100%);
}
div.col.seven {
  width: calc(7 / 12 * 100%);
}
div.col.eight {
  width: calc(8 / 12 * 100%);
}
div.col.nine {
  width: calc(9 / 12 * 100%);
}
div.col.ten {
  width: calc(10 / 12 * 100%);
}
div.col.eleven {
  width: calc(11 / 12 * 100%);
}
div.col.twelve {
  width: 100%;
}

@media only screen and (max-width: $md) {
  $padding: 20px;
  div.row {
    padding: 0 $padding/2;
  }
  $padding: 20px;
  div.col {
    padding: $padding/2;
  }
  div.col-container {
    padding: $padding;
  }
  div.col.one {
    width: calc(12 / 12 * 100%);
  }
  div.col.two {
    width: calc(12 / 12 * 100%);
  }
  div.col.three {
    width: calc(12 / 12 * 100%);
  }
  div.col.four {
    width: calc(12 / 12 * 100%);
  }
  div.col.five {
    width: calc(12 / 12 * 100%);
  }
  div.col.six {
    width: calc(12 / 12 * 100%);
  }
  div.col.seven {
    width: calc(12 / 12 * 100%);
  }
  div.col.eight {
    width: calc(12 / 12 * 100%);
  }
  div.col.nine {
    width: calc(12 / 12 * 100%);
  }
  div.col.ten {
    width: calc(12 / 12 * 100%);
  }
  div.col.eleven {
    width: calc(12 / 12 * 100%);
  }
  div.col.twelve {
    width: 100%;
  }
}

@media only screen and (max-width: $sm) {
  $padding: 15px;
  div.row {
    padding: 0 $padding/2;
  }
  div.col {
    padding: $padding/2;
  }
  div.col-container {
    padding: $padding;
  }
  div.col.one {
    width: calc(12 / 12 * 100%);
  }
  div.col.two {
    width: calc(12 / 12 * 100%);
  }
  div.col.three {
    width: calc(12 / 12 * 100%);
  }
  div.col.four {
    width: calc(12 / 12 * 100%);
  }
  div.col.five {
    width: calc(12 / 12 * 100%);
  }
  div.col.six {
    width: calc(12 / 12 * 100%);
  }
  div.col.seven {
    width: calc(12 / 12 * 100%);
  }
  div.col.eight {
    width: calc(12 / 12 * 100%);
  }
  div.col.nine {
    width: calc(12 / 12 * 100%);
  }
  div.col.ten {
    width: calc(12 / 12 * 100%);
  }
  div.col.eleven {
    width: calc(12 / 12 * 100%);
  }
  div.col.twelve {
    width: 100%;
  }
}

/* Navbar & Menu */
div.nav {
  width: 100%;
  height: $navHeight;
  background: $darkBlue;
  margin-bottom: $padding/2;
  box-sizing: border-box;
  padding: 0 $padding;
}

div.nav-logo {
  height: $navHeight;
  width: $navHeight/1.8;
  float: left;
  background: url("../imgs/pastel.png") no-repeat;
  background-size: 100%;
  background-position: center;
}

@media only screen and (max-width: $md) {
  $padding: 20px;
  div.nav {
    margin-bottom: $padding/2;
    padding: 0 $padding;
  }
}
@media only screen and (max-width: $sm) {
  $padding: 15px;
  $navHeight: 70px;
  div.nav {
    height: $navHeight;
    margin-bottom: $padding/2;
    padding: 0 $padding;
  }
  div.nav-logo {
    height: $navHeight;
    width: $navHeight/1.8;
  }
}

/* Form */
form.form {
  width: 100%;
  box-sizing: border-box;
  padding: $padding;
  background: $lightBlue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

input[type="text"].form,
input[type="email"].form,
input[type="password"] {
  border: none;
  border-bottom: 2px solid $color;
  background: none;
  font-size: $paragraphSize;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  color: #fff;
  font-family: $fontsPara;
  padding: 10px 10px;
  font-weight: 200;
  transition: background 0.15s ease, color 0.15s ease;
  margin-bottom: 20px;
  background: $lightBlue;
}

input[type="text"].form:focus,
input[type="email"].form:focus,
input[type="password"]:focus {
  //background: $medBlue;
  color: $color;
}

textarea.form {
  border: none;
  border: 2px solid $color;
  background: none;
  font-size: $paragraphSize;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  color: #fff;
  font-family: $fontsPara;
  padding: 10px 10px;
  font-weight: 200;
  transition: background 0.15s ease, color 0.15s ease;
  margin-bottom: 20px;
  background: none;
  resize: none;
  height: 100px;
}

button.form {
  border: none;
  font-family: $fontsPara;
  padding: 10px 20px;
  font-size: 1em;
  background: $color;
  color: $darkBlue;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}

button.form:hover {
  background: #fff;
}

button.form:active {
  background: $color;
}

::placeholder {
  color: #71748a;
  font-weight: 400;
}

/* Footer */
div.footer {
  width: 100%;
  padding: $padding/2 $padding;
  box-sizing: border-box;
}
p.footer {
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  color: $medBlue;
}

/* Hamburger */
.nav-hamburger {
  height: $navHeight;
  position: relative;
  z-index: 1000000;
  float: right;
}

.nav-hamburger-wrapper {
  height: $navHeight * 0.5;
  width: 34px;
  position: relative;
  top: 50%;
  margin-left: auto;
  transform: translateY(-50%);
  cursor: pointer;
}

.nav-hamburger-line-top {
  height: 2px;
  width: 100%;
  border-radius: 6px;
  position: absolute;
  background: #fff;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -10px;
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),
    background 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav-hamburger-line-mid {
  height: 2px;
  width: 100%;
  border-radius: 6px;
  position: absolute;
  background: #fff;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav-hamburger-line-btm {
  height: 2px;
  width: 100%;
  border-radius: 6px;
  position: absolute;
  background: #fff;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 10px;
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),
    background 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger-top-active {
  transform: rotateZ(45deg);
  top: 29px;
  background: $color;
}

.hamburger-mid-active {
  opacity: 0 !important;
}

.hamburger-btm-active {
  transform: rotateZ(-45deg);
  top: 9px;
  background: $color;
}
